<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble Home</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <img src="images/chat-icon2.svg" alt="" class="icon">
      <h1>Gabble</h1>
    </header>

<div class="grid-home">
<div class="grid-one">
  <h1 class="welcome-banner">Welcome, {{user.displayname}}</h1>

    <h3>Start a Gab!</h3>
    <textarea name="message" form="gabform" maxlength="140" placeholder="Gabble gabble gabble....."></textarea>
    <form class="" action="/" method="post" id='gabform'>
      <input type="submit" placeholder="Gab!">
    </form>
    <p class="logoutButton"><a href='/logout'>Log Out</a>
</div>
<div class="grid-two">
    <h3>Recent Gabs:</h3>
    <ul class = "messagelist">
      {{#messages}}

        <li class ="messageitem"><span class = "messageContent">{{textcontent}}    <span class= "message-username">@{{login.username}}</span></span><span class="nameContent">- {{login.displayname}}<input type="button" name="Like" value="Like"><input type="button" name="Delete" value="Delete"></span></li>

      {{/messages}}
    </ul>
</div>
</div>


<footer>
  <img src="images/chat-icon2.svg" alt="" class="footericon">
</footer>

  </body>
</html>
