<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up For Gabble!</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <h2>Sign Up For Gabble!</h2>
    <form class="" action="/signup" method="post">
      <input type="text" name="displayname" value="" placeholder="Name">
      <br>
      <input type="text" name="username" value="" placeholder="Username">
      <br>
      <input type="text" name="password" value="" placeholder="Password">
      <br>
      <input type="text" name="confirmPassword" value="" placeholder="Confirm Password">
      <br>
      <button type="submit" name="button">Sign Up</button>
    </form>

    <!-- <ul>
      {{#authors}}
        <li>{{name}}</li>
      {{/authors}}
    </ul> -->

    <!--GOT LOST AFTER MY SUBMIT WASNT SUBMITTING-->


  </body>
</html>
