<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Welcome to Gabble!</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <img src="images/chat-icon2.svg" alt="" class="icon">
    <h1>Gabble</h1>
  </header>
    <h1 class = "welcomeGabble">Welcome to Gabble</h1>

  <div class="content">
    <form class="" action="/login" method="post">
      <input id="usernameField"type="text" name="username" value="" placeholder="Username">
      <br>
      <input id="password"type="password" name="password" value="" placeholder="Password">
      <br>
      <button id='submitButton' type="submit" name="button">Log In</button>
    </form>
      <p>Don't have a login? <a href="/signup">Signup Now!</a>
  </div>

  <footer>
    <img src="images/chat-icon2.svg" alt="" class="footericon">
  </footer>

</body>
</html>
