/* NORMALIZATION */
*, *:before, *after {
  box-sizing: border-box;
}

html {
  padding:none;
}

.content {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  margin-top: 15vh;

}

/*.welcome-banner {
  text-align: center;
}*/

ul {
  list-style: none;
}

header {
  background-color: #19CF86;
  display: grid;
  grid-template-columns: .1fr 1.9fr;
  width: 100vw;
  height: 7vw;
  margin-top: -10px;
  margin-left: -10px;
}
.icon {
  width: 5vw;
  height: 5vw;
  margin:auto;
  -webkit-filter: invert(100%);
  padding-left: 10px;
}

footer {
  background-color: #19CF86;
  width: 100vw;
  height: 5vw;
  text-align: center;
  margin-left: -10px;
  position:absolute;
  bottom:0;
}

.footericon {
  width: 3vw;
  height: 3vw;
  margin:auto;
  margin-top: 10px;
  -webkit-filter: invert(100%);
}

header h1 {
  width: 90vw;
  color: white;
  margin: auto;
}
.grid-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.messagelist {
  width: 30vw;
  height: 30vw;
  overflow: auto;
  z-index: 1;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5px;
  background-color: #A4F4D4;
}

.messageitem {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 2px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
}

.messageContent {
  text-transform: capitalize;
  font-style: italic;
  font-size: 16pt;
  padding-left: 3px;
  padding-top: 3px;
}
.nameContent {
  font-size: 10pt;
  text-align: right;
  padding-right: 4px;
  padding-top: 10px;
}

.message-username {
  font-size: 10pt;
}

textarea {
  width: 30vw;
  height: 15vw;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 16pt;
}

.logoutButton {
  text-align: center;
  vertical-align: baseline;
  /*position:absolute;
  bottom:0;*/
}

#password {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16pt;
  border-radius: 1px;
}
#usernameField {
  font-size: 16pt;
  border-radius: 1px;

}
#submitButton {
  width: 50px;
}

.welcomeGabble {
  text-align: center;
}

.signupform {
  font-size: 16pt;
  border-radius: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
